.complexName {
    font-size: 14px;
}

.input[type="text"]
{
    font-size: 14px;
}

.inputFontSize {
    font-size: 14px;
}

.buttonSize {
    font-size: 14px;
}

.tableContainer {
    max-height: 45vh;
    overflow: auto;
}

.tableContainer::-webkit-scrollbar {
    width: 3px;
  }

.tableContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 1024px) {
    .tableContainer {
        max-height: 88vh;
        overflow: auto;
    }
}