.complexName {
    font-size: 14px;
}

.accordionHeader {
    font-size: 14px;
}

.input[type="text"]
{
    font-size: 14px;
}

.inputFontSize {
    font-size: 14px;
}

.acordionContainer {
    min-height: 40vh;
    max-height: 40vh;
    overflow: auto;
}

.acordionContainer::-webkit-scrollbar {
    width: 3px;
  }

.acordionContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.switchLabels {
    padding-top: 4px;
}

@media (min-width: 1024px) {
    .acordionContainer {
        min-height: 50vh;
        max-height: 88vh;
        overflow: auto;
    }
    .switchLabels {
        padding-top: 2px;
    }
}